* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

ul li {
    list-style: none;
    margin: 0 2rem 1rem 0;
}

/*CABEZERA*/
header#contCabecera {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

header#contCabecera nav.menu input {
    display: none;
}

header#contCabecera nav.menu ul {
    display: none;
    position: absolute;
    top: 87%;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1001;
    padding-top: 1.5rem;
}

header#contCabecera nav.menu img {
    cursor: pointer;
}

header#contCabecera nav.menu ul li:nth-child(4){
    padding-bottom: 5px;
}

header#contCabecera nav.menu ul li label.subMenu {
    cursor: pointer;
    display: block;
    font-size: large;
}

header#contCabecera nav.menu ul li a {
    font-size: large;
}

header#contCabecera nav.menu ul li>label.subMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header#contCabecera nav.menu ul li>label.subMenu img {
    width: 16px;
    height: auto;
}

header#contCabecera nav.menu input#cb:checked+ul {
    display: block;
}

header#contCabecera nav.menu ul li input#cb2:checked+ul {
    display: block;
}

header#contCabecera picture {
    margin: 0 auto;
}

header#contCabecera nav.menu {
    margin-left: 1rem;
    margin-right: 1rem;
}

header#contCabecera div {
    margin-right: 0.5rem;
}

header#contCabecera picture>img {
    height: auto;
    width: 10rem;
}

/*BODY*/
/*Slider*/
.contenedor-slider {
    width: 568px;
    margin: 0 auto;
    padding: 1rem 0rem 1rem 0rem;
    position: relative;
}

.botones-slider {
    position: absolute;
    top: 42%;
    transform: translateY(-50%);
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 24px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Posición de los botones */
button#imagen-anterior {
    left: 10px;
}

button#imagen-siguiente {
    right: 10px;
}

#miniatura-container {
    position: absolute;
    width: 100px;
    height: auto;
    display: none;
    bottom: 3.5rem;
    left: 45%;
    z-index: 500;
}

#miniatura-container img {
    width: 100%;
    height: auto;
    border: solid #424f66 3px;
}

#miniatura-imagenes ul {
    display: flex;
    justify-content: space-around;
}

#miniatura-imagenes ul {
    cursor: pointer;
}

.slider-wrapper {
    margin: 0 auto;
    z-index: 500;
    position: relative;
    width: 90%;
    height: 260px;
    background: #FFF;
    overflow: hidden;
    width: 100%;
}

.slider-wrapper li {
    display: none;
}

.slider-wrapper .current-slide {
    display: block;
}

.slider-wrapper img {
    position: absolute;
    /*max-width: 100%;*/
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

/**
   * ---[Caption] ---------------------- 
   **/

.slider-wrapper .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.65);
    width: 100%;
    padding: 10px;
    color: #FFF;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.slider-wrapper li:hover .caption {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

.slider-wrapper h2 {
    color: #00c5b9;
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 6px;
}

.slider-wrapper p {
    font-size: 1.6em;
    font-weight: 300;
    line-height: 1.4em;
}

/**
   * ---[Botones-Control] ---------------------- 
   **/

.control-buttons {
    margin-top: 15px;
    text-align: center;
}

.control-buttons li {
    cursor: pointer;
    display: inline-block;
    background: #424f66;
    text-indent: -99999px;
    height: 12px;
    width: 12px;
    margin: 0 6px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.control-buttons li.active {
    background: black;
}

.authors {
    text-align: center;
    color: #7a8699;
    display: block;
    font-size: 1.6em;
    font-weight: 300;
    margin-top: 80px;
    font-size: 300;
}
/*Fin Slider*/
main section#sec {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

main section#sec div.contenedor {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5px;
    margin-bottom: 1rem;
}

main section#sec div.contenedor h2.titulo {
    flex-grow: 1;
}

main section#sec div.contenedor h2.tituloDer {
    text-align: right;
}

main section#sec div.contenedor div {
    display: flex;
    align-items: center;
    width: 100%;
}

main section#sec div.contenedor a {
    color: red;
    font-size: small;
    margin-left: auto;
    display: none;
}

main section#sec div.contenedor p.gris {
    margin: 0;
    border-bottom: 1px solid lightgray;
    width: 100%;
}

main section#sec div.contenedor p.rojo {
    border-bottom: 5px solid #CE2D3F;
    width: 10%;
    margin: 0;
}

main section#sec article.itemSec {
    display: flex;
    flex-direction: column;
    flex: 0 30%;
    align-items: center;
    margin: 0.5rem;
    margin-bottom: 3rem;
}

main section#sec article.itemSec picture img {
    height: auto;
    width: 10rem;
}

main section#sec article.itemSec button {
    background-color: black;
    color: white;
    padding: 0.5rem 2rem 0.5rem 2rem;
    cursor: pointer;
}

main section#sec div.contOpcCarr {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background-color: lightgrey;
    font-size: small;
    align-items: center;
    margin: 0 0.5rem 0 0.5rem;
}

main section#sec div.contOpcCarr div {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    margin-right: 1rem;
}

main section#sec div.contOpcCarr div p:nth-child(1) {
    margin-right: 2rem;
}

/*CARRITO*/
main section#sec article.artCarr {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-top: 0.5rem;
    border-bottom: 1px solid lightgrey;
    margin: 1rem 1rem 0 1rem;
    padding-bottom: 1rem;
}


main section#sec article.artCarr picture.imgArtCarr img {
    height: auto;
    width: 7rem;
}

main section#sec article.artCarr p.tituloArtCarr {
    padding-bottom: 8rem;
}

main section#sec article.artCarr picture.spinner {
    margin-left: 5rem;
}

main section#sec article.artCarr p.precio {
    color: red;
    margin-right: 0.5rem;
}

main section#sec div.secCodPromo {
    background-color: lightgrey;
    width: 100%;
    border: 1px solid rgb(135, 133, 133);
    margin: 2rem 1rem 2rem 1rem;
}

main section#sec div.secCodPromo h2 {
    margin-left: 1rem;
}

main section#sec div.secCodPromo div.blockNoti {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 2rem;
}

main section#sec div.secCodPromo div.blockNoti input {
    width: 60%;
    height: 2.5rem;
    border-radius: 4%;
    margin: 1.5rem 1rem 0 4rem;
}

main section#sec div.secCodPromo div.blockNoti button {
    height: 2.5rem;
    width: 4.5rem;
    background-color: black;
    cursor: pointer;
    margin-top: 1.5rem;
}

main section#sec div.secCodPromo p {
    margin: 0 0 1rem 1rem;
}

main section#sec div.secCodPromo p span {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

main section#sec div.totalPedido {
    width: 100%;
    text-align: right;
    margin: 0 1rem 1rem 1rem;
    font-weight: bold;
}

main section#sec div.totalPedido p {
    font-size: x-large;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 0.5rem;
}

main section#sec div.totalPedido p span {
    color: red;
    margin-left: 1rem;
}

main section#sec div.totalPedido a {
    background-color: black;
    color: white;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border: 2px solid black;
    cursor: pointer;
    margin-right: 0.6rem;
    font-size: small;
}

.p{
    margin-bottom: 2rem;
}

/*PROD*/
main section#sec article.prodCarr {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 2rem 1rem 0 1rem;
}

main section#sec article.prodCarr div.totalPedidoProd{
    display: flex;
    align-items: center;
    width: 100%;
}

main section#sec article.prodCarr div.tituloArtProd {
    font-weight: bold;
    font-size: large;
    margin: 2rem 0 2rem 0;
}

main section#sec article.prodCarr div.totalPedidoProd div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: bold;
    width: 100%;
    margin-bottom: 0.5rem;
}

main section#sec article.prodCarr div.totalPedidoProd div span {
    color: red;
    margin-left: 1rem;
}

main section#sec article.prodCarr div.totalPedidoProd div button {
    background-color: black;
    color: white;
    padding: 0.5rem 2rem 0.5rem 2rem;
    cursor: pointer;
}

main section#sec article.prodCarr div.totalPedidoProd picture{
    margin-left: auto;
}

main section#sec article.prodCarr picture.imgProd img{
    height: auto;
    width: 15rem;
}

main section#sec article.prodCarr div.verde{
    display: flex;
    align-items: center;
    padding-right: 15rem;
}

main section#sec article.prodCarr div.verde span:nth-child(1){
    background-color: #55F047;
    font-size: small;
    font-weight: bold;
    padding: 5px;
    border-radius: 10%;
}

main section#sec article.prodCarr div.verde span:nth-child(2){
    background-color: white;
    font-size: x-small;
    height: auto;
    padding-left: 1rem;
}

main section#sec div.descrip {
    text-align: justify;
    margin: 0 1rem 2rem 1rem;
}

/*QS*/
main section#sec div.gris {
    background-color: lightgrey;
    padding: 1rem;
}

/*INICIO DE SESIÓN*/
main section#sec form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-weight: bold;
}

main section#sec form div {
    display: flex;
    flex-direction: row;
    margin: 1rem;
}

main section#sec form div input{
    width: 30rem;
    height: 3rem;
    border-radius: 3%;
}

main section#sec form button {
    background-color: black;
    color: white;
    padding: 0.5rem 2rem 0.5rem 2rem;
    cursor: pointer;
}

main section#sec form div.regis a{
    color: blue;
    text-decoration: underline;
}

/*PROCESO DE COMPRA*/
main section#sec form div.contForm{
    display: flex;
    flex-direction: column;
}

main section#sec form div.contForm h3{
    margin-left: 2rem;
}

main section#sec form div.contForm div{
    display: flex;
    flex-direction: column;
}

main section#sec form div.contForm div input#ciudad{
    width: 60%;
    margin-right: 3rem;
}

main section#sec form div.contForm div input#cp{
    width: 30%;
}

main section#sec form div.contForm div input#fc{
    width: 50%;
    margin-right: 3rem;
}

main section#sec form div.contForm div input#cs{
    width: 50%;
}

main section#sec form div.contForm div div.form2{
    display: flex;
    flex-direction: row;
}

main section#sec form div.btnComprar{
    margin-left: auto;
}

/*PIE*/
footer#contPie {
    background-color: #204FC7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 3px solid black;
}

footer#contPie div.redesSocial picture.logo img {
    height: auto;
    width: 10rem;
}

footer#contPie div.blockNoti {
    display: flex;
    flex-direction: row;
    width: 100%;
}

footer#contPie div.blockNoti input {
    width: 60%;
    height: 2.5rem;
    border-radius: 4%;
    margin: 1.5rem 1rem 0 4rem;
}

footer#contPie div.blockNoti button {
    height: 2.5rem;
    width: 4.5rem;
    background-color: black;
    cursor: pointer;
    margin-top: 1.5rem;
}

footer#contPie p {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer#contPie p a {
    color: white;
    margin-top: 1rem;
    text-decoration: underline;
    font-weight: bold;
}

footer#contPie div.redesSocial div img {
    height: auto;
    width: 1.5rem;
    margin: 0.5rem;
}

div#volverarriba {
    width: 3rem;
    height: 3rem;
    background-color: white;
    border-radius: 50%;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    text-align: center; 
    opacity: 1;
    display: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 999;
    transition: opacity 0.3s ease; 
}

div#volverarriba a {
    display: flex; 
    align-items: center; 
    justify-content: center;
    width: 100%;
    height: 100%;
}

div#volverarriba img {
    width: 2rem;
    height: 2rem;
}

@media(min-width: 768px){
    .contenedor-slider {
        width: 800px;
    }

    main section#sec {
        justify-content: flex-start;
    }

    main section#sec article.itemSec {
        flex: 0 20%;
        margin-left: 1.9rem;
    }

    footer#contPie {
        flex-direction: row;
        flex-wrap: wrap;
    }

    footer#contPie div.blockNoti{
        width: 50%;
        order: 2;
        padding-right: 5rem;
        padding-bottom: 3rem;
    }

    footer#contPie div.redesSocial{  
        order: 3;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    footer#contPie p {
        width: 50%;
        order: 2;   
        padding-left: 7rem;
        align-items: start;    
    }
}

@media(min-width: 1024px){
    .contenedor-slider {
        width: 800px;
    }
}